@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');

@theme {
    --font-dmsans: "DM Sans", serif;
    --font-outfit: "Outfit", serif;
    --font-mont: "Montserrat", serif;
    --font-poppins: "Poppins", serif;
    --color-darkbluegreen: #066682;
    --color-lightgray: #F8F8F8;
    --color-midgray: #E5E5E5;
    --color-lightdark: #171717;
    --color-lightyellow: #FFEA00;
    --color-darkgray: #262E36;
    --color-darkblue: #196EB2;
}

.common-btn {
    @apply px-8 py-3 rounded-[10px]
}

.hero {
    background: url(../images/hero-bg.png) no-repeat center/cover;
}

header.active {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(15, 15, 15, 0.219);
    border: 1px solid rgba(209, 213, 219, 0.104);
}


.common-heading,
.banner-title {
    @apply text-sm relative py-5
}

.common-heading::after {
    content: "";
    height: 1px;
    width: 120px;
    background-color: #0478D6;
    display: inline-block;
    margin: 0 0 5px 5px;
}

.banner-title::after {
    content: "";
    height: 1px;
    width: 120px;
    background-color: #ffffff;
    display: inline-block;
    margin: 0 0 5px 5px;
}

.huccleberry {
    background: url(../images/can.png) no-repeat center/cover;
    background-attachment: fixed;
    min-height: 400px;
    width: 100%;
}

.rock-garden {
    background: url(../images/rock-garden.png) no-repeat center/cover;
    background-attachment: fixed;
    min-height: 400px;
    width: 100%;
}


.about-us__middle ul li {
    list-style-image: url(../images/Frame.png);
}

.inverted-text {
    color: black;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transform: translateX(40%) rotate(-90deg);
    right: 0;
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
    /* Hides the default navigation arrows */
}

.numbers {
    background: url(../images/number\ bg.png) no-repeat center/cover;
}

.gradient-divider {
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, #066682, white);
    border-radius: 20px;
}

.testimonials {
    min-height: 100vh;
    background: linear-gradient(#003A4B 0%, #003A4B 60%, white 40%, white 100%);
}

/* responsiveness */

@media(max-width: 1024px) {
    .nav__list {
        position: fixed;
        top: 0;
        left: -100%;
        background: black;
        height: 100vh;
        width: 30%;
        align-items: center;
        justify-content: center;
        border-radius: 0 20px 20px 0;
        transition: all 0.5s ease-in-out;
    }

    .active-nav {
        left: 0;
    }

    .hero__content {
        margin: 150px;
    }
}

@media(max-width:600px) {
    .nav__list{
        width: 90%;
    }
    .common-btn {
        @apply px-3 py-1
    }
}