@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');

@theme {
    --font-dmsans: "DM Sans", serif;
    --font-outfit: "Outfit", serif;
    --color-darkbluegreen: #066682;
    --color-lightgray: #F8F8F8;
    --color-midgray: #E5E5E5;
    --color-lightdark: #171717;
    --color-lightyellow: #FFEA00;
    --color-darkgray: #262E36;
    --color-darkblue: #196EB2;
}

.common-btn {
    @apply bg-darkbluegreen px-5 py-3 rounded-[10px] text-white
}

.hero {
    background: url(../images/hero-bg.png) no-repeat center/cover;
}

header.active {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(15, 15, 15, 0.219);
    border: 1px solid rgba(209, 213, 219, 0.104);
}


.common-heading {
    @apply text-sm relative py-5
}

.common-heading::after {
    content: "";
    height: 1px;
    width: 120px;
    background-color: #0478D6;
    display: inline-block;
    margin: 0 0 5px 5px;
}

.huccleberry {
    background: url(../images/can.png) no-repeat center/cover;
    min-height: 400px;
    width: 100%;
}

.about-us__middle ul li {
    list-style-image: url(../images/Frame.png);
}