:root {
    --color-darkbluegreen: #066682;
    --color-lightgray: #F8F8F8;
    --color-midgray: #E5E5E5;
    --color-lightdark: #171717;
    --color-lightyellow: #FFEA00;
    --color-darkgray: #262E36;
    --color-darkblue: #196EB2;
}

html {
    scroll-behavior: smooth;
}

.font-dmsans {
    font-family: "DM Sans", serif;
}

.font-outfit {
    font-family: "Outfit", serif;
}

.font-mont {
    font-family: "Montserrat", serif;
}

.font-poppins {
    font-family: "Poppins", serif;
}

header .brand-logo {
    width: 227px;
}


.common-btn {
    padding: 10px 20px;
    border-radius: 10px;
}

.hero {
    background: url(../images/hero-bg.png) no-repeat center/cover;
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hero__content h1 {
    font-size: clamp(25px, 4vw, 80px);
}

.hero__content h1 span {
    color: #12C9FF;
}

.hero__content p {
    width: 60%;
    margin: 0 auto;
    font-weight: lighter;
}

.search-btn {
    background-color: var(--color-darkbluegreen);
}

.search-btn:hover {
    background-color: black;
}

.project-slide {
    background: #F1F9FF;
    border: 1px solid whitesmoke;
}

.property-image {
    height: 105%;
    width: 100%;
    object-fit: cover;
    position: relative;
    top: -15px;
    left: 15px;
}

.project-slide .prop-call-btn {
    color: var(--color-darkblue);
    border: 1px solid var(--color-lightdark);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
}

.project-slide .common-btn {
    background-color: var(--color-darkbluegreen);
    text-decoration: none;
}

@media (min-width: 768px) {

    /* md breakpoint */
    .responsive-height {
        height: 105%;
    }
}



@media (min-width: 1024px) {

    /* lg breakpoint */
    .hero {
        gap: 150px;
    }
}

.container {
    max-width: 1260px;
}

header {
    z-index: 99999;
}

header.active {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(15, 15, 15, 0.219);
    border: 1px solid rgba(209, 213, 219, 0.104);
}

.nav__list--link a {
    text-decoration: none;
    color: white;
}

.call-btn {
    background-color: var(--color-darkbluegreen);
}

.text-lightgray {
    color: var(--color-midgray);
}

.about-us {
    background-color: #F8F8F8;
}

.project__left p,
.about-us__left p,
.about-us__middle p,
.about-us__middle ul li {
    color: #6D6D6D;
}

.project__left h3,
.about-us__left h3,
.testimonials h3,
.blogs h3,
.faq h3,
.property-gallery h3 {
    font-size: clamp(25px, 3.5vw, 100px);
    font-weight: 900;
}

.project-nav-left,
.project-nav-right {
    width: 50px;
    aspect-ratio: 1/1;
    color: #67676F;
    border: 1px solid #67676F;
}

.project-nav-left:hover,
.project-nav-right:hover {
    background-color: var(--color-darkbluegreen);
    color: white;
    border-color: var(--color-darkbluegreen);
}

/* Section Styling */
.huckleberry-section {
    background-color: #f5f5f5;
}

.blog-card img {
    height: 250px;
}

.blog-title {
    color: black;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 500;

}

.blog-card .tag {
    background-color: #0478D6;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.blog-card p,
.blog-card .date {
    color: #6D6D6D;
}

.blog-list img {
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Container */
.huckleberry-container {
    background: url(../images/can.png) no-repeat center/cover;
    background-attachment: fixed;
    min-height: 400px;
    width: 100%;
    border-radius: 40px;
}

/* Title */
.huckleberry-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.1);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}


/* Subheading */
.subheading {
    font-size: 1.5rem;
    font-weight: 600;
    width: 70%;
}

/* Buttons */
.btn {
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.explore-btn {
    background-color: var(--color-darkbluegreen);
    color: white;
}

.explore-btn:hover {
    background-color: var(--color-darkbluegreen);
}

.visit-btn {
    background-color: white;
    color: var(--color-darkbluegreen);
    border: 2px solid var(--color-darkbluegreen);
}

.visit-btn:hover {
    background-color: var(--color-darkbluegreen);
    color: white;
}

/* Responsive */
@media (min-width: 992px) {
    .subheading {
        width: 50%;
    }
}

.exp-years {
    width: 150px;
    aspect-ratio: 1/1;
    position: absolute;
    bottom: 80px;
    left: 10px;
    border: 3px solid white;
}

.common-heading,
.banner-title,
.other-common-heading {
    font-size: 16px;
    position: relative;
    padding: 20px 0;
}

.common-heading::after,
.other-common-heading:after {
    content: "";
    height: 1px;
    width: 120px;
    background-color: #0478D6;
    display: inline-block;
    margin: 0 0 5px 5px;
}

.other-common-heading:before {
    content: "";
    height: 1px;
    width: 120px;
    background-color: #0478D6;
    display: inline-block;
    margin: 0 0 5px 5px;
}

.banner-title::after {
    content: "";
    height: 1px;
    width: 120px;
    background-color: #ffffff;
    display: inline-block;
    margin: 0 0 5px 5px;
}

.rock-garden {
    background: url(../images/rock-garden.png) no-repeat center/cover;
    background-attachment: fixed;
    min-height: 400px;
    width: 100%;
    border-radius: 40px;
}

.about-us__middle ul li {
    list-style-image: url(../images/Frame.png);
}

.inverted-text {
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transform: translateX(65%) rotate(-90deg);
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
    /* Hides the default navigation arrows */
}

.numbers {
    background: url(../images/number\ bg.png) no-repeat center/cover;
}

.gradient-divider {
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, #066682, white);
    border-radius: 20px;
}

.testimonials {
    min-height: 100vh;
    background: linear-gradient(#003A4B 0%, #003A4B 60%, white 40%, white 100%);
}

.testi-main p {
    width: 50%;
    color: white;
}

.testimonial-left,
.testimonial-right {
    color: black;
    border-radius: 50%;
    border: none;
    width: 50px;
    aspect-ratio: 1/1;
}

.testimonial-left:hover,
.testimonial-right:hover {
    color: white;
    background-color: black;
}

.testi-image-card {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.rating-sytem {
    background-color: #054d63;
    color: gold;
    padding: 5px 10px;
    border-radius: 25px;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.inverted-comma-image {
    position: absolute;
    left: 15px;
    bottom: -20px;
}

.testi-card {
    border: 1px solid whitesmoke;
}

.testi-card>p {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 10px 20px;
}

.comment p {
    margin: 0;
}

.comment p:first-child {
    font-weight: bold;
}

.comment p:last-child {
    font-weight: 400;
    font-size: 14px;
}

/* responsiveness */

@media(max-width: 1024px) {
    .nav__list {
        position: fixed;
        top: 0;
        left: -100%;
        background: black;
        height: 100vh;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0 20px 20px 0;
        transition: all 0.5s ease-in-out;
        z-index: 9999;
    }

    .active-nav {
        left: 0;
    }

    #close-nav {
        top: 10px;
        right: 10px;
        color: white;
    }

}

.nav__btn {
    border: 1px dashed white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    background-color: transparent;
}

@media(max-width:600px) {
    header .brand-logo {
        width: 150px;
    }

    .nav__list {
        width: 60%;
    }

    .hero {
        justify-content: flex-start;
        padding-top: 100px;
    }

    .hero__filter-form {
        border-radius: 20px !important;
    }

    .common-btn {
        @apply px-3 py-1
    }
}



footer ul li a, footer p {
    color: #d4d1d1;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

footer ul li a:hover {
    color: white;
}

.newsletter-form button {
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border: none;
    background: white;
}

.newsletter-form input {
    border: none;
}

.newsletter-form input:focus {
    outline: none;
}

.follow p,
.copyright p {
    margin: 0;
}

.follow a {
    color: white;
    text-decoration: none;
}

.breadcrumb-custom {
    min-height: 500px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.451)), url(../images/project/breadcrumb.png) no-repeat center/cover;
}


.breadcrumb-custom h2 {
    font-size: clamp(25px, 5vw, 64px);
}

.breadcrumb-custom p {
    font-size: clamp(16px, 2.5vw, 18px);
    font-weight: 200;
    width: 50%;
    margin: auto;
}

/* /////////////////////////////////// */

.project-slide-content p {
    color: #67676F;
}

.project-slide-content p:first-child {
    color: #0478D6;
    font-size: 22px;
}

.project-select-category a {
    background-color: white;
    border: 1px solid #066682;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    width: 180px;
    color: #066682;
    text-align: center;
    border-radius: 50px;
}

.project-select-category a.active,
.project-select-category a:hover {
    background-color: #066682;
    color: white;
}

.projects-list .project-slide img {
    height: 500px;
}

.projects-list .project-slide:nth-child(even) {
    flex-direction: row-reverse;
}

.project-pagination nav {
    background: #F7F7F7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(212, 209, 209);
    padding: 5px;
}

.page-link {
    background-color: transparent;
    border: none;
    color: #6A6C76;
    font-size: 22px;
    padding: 5px 15px;
}



.page-link.active,
.page-link:hover {
    background-color: #066682;
    border-radius: 10px;
    color: white;
}

.project-price {
    font-size: clamp(16px, 1.7vw, 60px);
    background: #ED1C24;
    clip-path: polygon(100% 0%, 92% 49%, 100% 100%, 0 100%, 0% 50%, 0 1%);
    padding: 20px 50px 20px 20px;
    color: white;
    left: 25px;
    bottom: 40px;
}

@media(max-width: 600px) {
    .highlights div {
        border: none !important;
    } 
    .page-link {
        font-size: 12px;
        padding: 5px 15px;
    }

    .projects-list .project-slide img {
        height: 300px;
    }

    .breadcrumb-custom p {
        width: 100%;
    }
}

.accordion-button {
    background-color: #E5E5E5;
    border-radius: 20px;
}

.accordion-button:focus {
    box-shadow: none;
    background-color: #E5E5E5;
}

.accordion-item {
    margin-bottom: 20px;
    border: none;
    border-radius: 20px !important;
    overflow: hidden;
    background: #E5E5E5;
}

.accordion-no {
    color: #054d63;
}

.project-details-tabs {
    position: sticky;
    top: 130px;
    z-index: 99;
}

.project-details-tabs ul {
    background-color: #066682;
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    margin: 0;
    border-radius: 50px;
    position: relative;
    top: -50px;
    overflow: hidden;
    box-shadow: 0 0 5px grey;
    border: 4px solid white;
}

.project-details-tabs ul li {
    padding: 10px 20px;
    border-right: 1px solid #E5E5E5;
    width: 120px;
    cursor: pointer;
}

.project-details-tabs ul li p {
    margin: 0;
    font-size: clamp(10px, 1vw, 12px);
}

.project-details-tabs ul li img {
    width: 30px;
}

.project-details-tabs ul li:last-child {
    border: none;
}

.project-details-tabs ul li:hover {
    background-color: #054d63;
}


.overview-image::before {
    content: "";
    width: 40px;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #43D5FF;
    display: inline-block;
    position: absolute;
    left: 5px;
    z-index: -1;
}

.overview-block::after {
    content: "";
    width: 8px;
    height: 40px;
    background-color: #066682;
    display: inline-block;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 0;
    top: 20px;
}

.swiper-slide:nth-child(odd) .overview-block {
    background-color: #D9F6FF;
    border: 1px solid #A7E0F0;
}

.swiper-slide:nth-child(even) .overview-block {
    background-color: white;
}

.overview-next-btn {
    background-color: #066682;
    color: white;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.highlights {
    background-color: #066682;

}

.highlights div {
    border-color: rgba(255, 255, 255, 0.346) !important;
}

.highlight-image img {
    height: 600px;
    position: relative;
    bottom: -30px;
}

.project-enquiry p {
    margin: 0;
}

.project-enquiry h5 {
    margin-bottom: 5px;
}

.call p,
.whatsapp p {
    color: #12C9FF;
}

.project-enquiry form {
    background-color: #F1F9FF;
    padding: 50px;
    border-radius: 20px;
}

.project-enquiry form label,
.project-enquiry form input,
.project-enquiry form textarea {
    width: 100%;
}

.project-enquiry form label {
    font-size: 16px;
    font-weight: bold;
}

.project-enquiry form input,
.project-enquiry form textarea {
    border: none;
    background: transparent;
    /* outline: none; */
    border-bottom: 1px solid #d4d1d1;
    padding: 10px 0;
}

.project-enquiry form input:focus,
.project-enquiry form textarea:focus{
    outline: none;
}

.project-enquiry form button{
    background-color: #066682;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.project-enquiry form button:active{
    scale: 0.95;
}
.project-details-tabs ul li a{
    text-decoration: none;
    color: white;
}
