:root {
    --color-darkbluegreen: #066682;
    --color-lightgray: #F8F8F8;
    --color-midgray: #E5E5E5;
    --color-lightdark: #171717;
    --color-lightyellow: #FFEA00;
    --color-darkgray: #262E36;
    --color-darkblue: #196EB2;
}

.font-dmsans {
    font-family: "DM Sans", serif;
}

.font-outfit {
    font-family: "Outfit", serif;
}

.font-mont {
    font-family: "Montserrat", serif;
}

.font-poppins {
    font-family: "Poppins", serif;
}

header .brand-logo {
    width: 227px;
}


.common-btn {
    padding: 10px 20px;
    border-radius: 10px;
}

.hero {
    background: url(../images/hero-bg.png) no-repeat center/cover;
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hero__content h1{
font-size: clamp(25px, 4vw, 80px);
}

.hero__content h1 span{
    color: #12C9FF;
}

.hero__content p{
    width: 60%;
    margin: 0 auto;
    font-weight: lighter;
}

.project-slide{
    background: #F5F5F5;
}

.property-image {
    height: 105%;
    width: 100%;
    object-fit: cover;
    position: relative;
    top: -15px;
    left: 15px;
}

.project-slide .prop-call-btn{
    color: var(--color-darkblue);
    border: 1px solid var(--color-lightdark);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
}

.project-slide .common-btn{
    background-color: var(--color-darkbluegreen);
    text-decoration: none;
}

@media (min-width: 768px) { /* md breakpoint */
    .responsive-height {
        height: 105%;
    }
}



@media (min-width: 1024px) { /* lg breakpoint */
    .hero {
        gap: 150px;
    }
}

header.active {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(15, 15, 15, 0.219);
    border: 1px solid rgba(209, 213, 219, 0.104);
}

.nav__list--link a{
    text-decoration: none;
    color: white;
}

.call-btn{
    background-color: var(--color-darkbluegreen);
}


.common-heading,
.banner-title {
    @apply text-sm relative py-5
}

.common-heading::after {
    content: "";
    height: 1px;
    width: 120px;
    background-color: #0478D6;
    display: inline-block;
    margin: 0 0 5px 5px;
}

.banner-title::after {
    content: "";
    height: 1px;
    width: 120px;
    background-color: #ffffff;
    display: inline-block;
    margin: 0 0 5px 5px;
}

.huccleberry {
    background: url(../images/can.png) no-repeat center/cover;
    background-attachment: fixed;
    min-height: 400px;
    width: 100%;
}

.rock-garden {
    background: url(../images/rock-garden.png) no-repeat center/cover;
    background-attachment: fixed;
    min-height: 400px;
    width: 100%;
}


.about-us__middle ul li {
    list-style-image: url(../images/Frame.png);
}

.inverted-text {
    color: black;
    -webkit-text-fill-color: transparent;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transform: translateX(40%) rotate(-90deg);
    right: 0;
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
    /* Hides the default navigation arrows */
}

.numbers {
    background: url(../images/number\ bg.png) no-repeat center/cover;
}

.gradient-divider {
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, #066682, white);
    border-radius: 20px;
}

.testimonials {
    min-height: 100vh;
    background: linear-gradient(#003A4B 0%, #003A4B 60%, white 40%, white 100%);
}

/* responsiveness */

@media(max-width: 1024px) {
    .nav__list {
        position: fixed;
        top: 0;
        left: -100%;
        background: black;
        height: 100vh;
        width: 30%;
        align-items: center;
        justify-content: center;
        border-radius: 0 20px 20px 0;
        transition: all 0.5s ease-in-out;
    }

    .active-nav {
        left: 0;
    }

    .hero__content {
        margin: 150px;
    }
}

@media(max-width:600px) {
<<<<<<< HEAD:assets/css/style.css
    header .brand-logo {
        width: 150px;
=======
    .nav__list{
        width: 90%;
>>>>>>> 4c024da637d0a97cfd63c9258bb107b9552bc8f0:assets/css/input.css
    }
    .common-btn {
        @apply px-3 py-1
    }
}